h1{
  color:blue;
}

.wrapper {
  width: 100%
}

.navbar {
  display: block;
  background-color: darkgray;
  color: lightgray;
  margin:auto;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.twentyPercent{
  width: 20%;
}
.eightyPercent{
  width:80%;
}
.sidebar{
  display: flex;
  flex-direction: column;
  float: left;
}